@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@300;500&display=swap');


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
/*                                                                                 Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/

/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', Times New Roman, serif;
    font-weight: 700;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: white;
    flex-shrink: 1;
}

h2 {
    font-size: 1.8em;
    color: #5722CD;
}

h3 {
    font-size: 1.5em;
    color: #5722CD;
}

h4 {
    color: #5722CD;
    font-size: 1.5em;
}

html {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    color: #0C0C0C;
}


/* ------------------------------- 3. Layout --------------------------------------- */


/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: center;
}

.inner-container {
    flex-basis: 1400px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 40px;
    align-items: center;
}


/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    background-repeat: no-repeat;
    background-position: bottom, center;
    flex-shrink: 1;
    background-image: linear-gradient(274deg, rgba(87, 34, 205, 1) 0%, rgba(72, 69, 228, 1) 25%), url("../assets/squiggle_line_stripe.svg");
    padding-bottom: 150px;
    position: relative;
}

header img {
    position: absolute;
    bottom: 0;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 25px 15px 0;
    gap: 35px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
}

h1 {
    padding: 50px;
}

.intro {
    color: white;
    font-size: 2em;
    padding-bottom: 35px;
    text-align: center;
}

.button-header {
    padding: 25px;
    margin-bottom: 50px;
    font-size: 0.85em;
    color: #F3F6F9;
    letter-spacing: 2px;
    background-color: #ED4385;
    border-radius: 40px;
    border-color: #ED4385;
    width: 280px;
    text-transform: uppercase;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

/* --------------- 4.2 Hello ------------------- */
.who-we-are {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin: 85px 0;
}

.question {
    margin-top: 100px;
    font-size: 1.25em;
    font-weight: 500;
}

.click-here {
    color: #5722CD;
    text-decoration: none;
}

/* --------------- 4.3 Work ------------------- */
.container-work {
    background-color: #F3F6F9;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    font-weight: 500;
    margin: 100px 0;
}

.squiggle-img {
    margin: 40px 0;
}

.column-two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    flex-grow: 0;
    flex-shrink: 1;
}

.colomn-text {
    font-size: 1.25em;
    margin-bottom: 50px;
}

.article-work, .article-work-2 {
    max-width: 350px;
    margin: 0 50px;
}

.column a {
    color: #5722CD;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.column-two a {
    color: #5722CD;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}


.work-title {
    color: #0C0C0C;
}

.image-work {
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

/* --------------- 4.4 Services ------------------- */

.inner-container-row {
    display: flex;
    flex-direction: row;
    flex-basis: 1400px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.article-services {
    height: 400px;
    width: 400px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px;
    color: #7A7A7A;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #5722CD;
}

.article-services img {
    max-width: 80px;
    margin-bottom: 10px;
}

/* --------------- 4.5 footer ------------------- */

footer {
    background: linear-gradient(274deg, rgba(87, 34, 205, 1) 0%, rgba(72, 69, 228, 1) 25%);
}

footer h2 {
    color: #F3F6F9;
    font-size: 3em;
    text-align: center;
    padding: 100px 0 35px 0;
}

footer p {
    color: #F3F6F9;
    font-size: 1.5em;
    text-align: center;
}

.inner-container-footer {
    display: flex;
    flex-direction: column;
    flex-basis: 1400px;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    }


label {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    color: #F3F6F9;
    margin-top: 20px;
    width: 60%;
}

input, textarea {
    width: 60%;
    display: block;
}

input {
    height: 50px;
}

textarea {
    height: 200px;
}

::placeholder {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    padding-left: 10px;
}

.form-field {
    padding: 15px 0;
}

footer button {
    padding: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    font-size: 0.85em;
    color: #F3F6F9;
    letter-spacing: 2px;
    background-color: #ED4385;
    border-radius: 40px;
    border-color: #ED4385;
    width: 280px;
    text-transform: uppercase;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    margin: 35px 0;
}



.outer-container-bottom {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    background: #0C0C0C;
    height: 50px;
    color: #F3F6F9;
    font-size: 0.8em;
}


/* ------------------------------- 5. Media Queries -------------------------------- */

@media screen and (max-width: 576px) {
    ul {
        justify-content: center;
    }

    ul li {
        font-weight: 500;
    }

    h1 {
        font-size: 2em;
    }
    .intro {
        font-size: 1.5em;
    }
    .column {
        flex-direction: column-reverse;
        margin: 100px 0;
        /*align-items: flex-start;*/
    }

    .column-two {
        flex-direction: column-reverse;
        margin: 0 0;
    }
    .image-wrapper {
        flex-basis: 50px;
        margin-bottom: 25px;
    }

    .article-work, .article-work-2 {
        max-width: 350px;
        margin: 0 0;
    }

    footer h2 {
        font-size: 2em;
    }

    input, textarea {
        width: 85%;
    }

    footer p {
        font-size: 1.25em;
    }
}