@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@300&display=swap');


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
/*                                                                                 Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/

/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', "Times New Roman", serif;
    font-weight: 700;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: white;
}

h4 {
    color: #5722CD;
    font-size: 1.5em;
}

html {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
}


/* ------------------------------- 3. Layout --------------------------------------- */




/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid red;
}

.inner-container {
    flex-basis: 1400px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 40px;
    border: 2px dashed black;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    height: 500px;
    background-color: #5722CD;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 25px 15px 0;
    gap: 35px;
    list-style: none;
    color: white;
}

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --------------- 4.2 Hello ------------------- */
.who-we-are {
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid red;
    /*width: 700px;*/
}

/* --------------- 4.3 Work ------------------- */
.column-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*width: 700px;*/
    border: 1px dashed green;
    margin: 25px 35px 25px 45px;
}

.image-one {
    /*width: 100%;*/
}

.column-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*width: 700px;*/
    border: 1px dashed green;
    margin: 25px 35px 25px 45px;
}

.column-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*width: 700px;*/
    border: 1px dashed green;
    margin: 25px 35px 25px 45px;
}

/*}*/

/* ------------------------------- 5. Media Queries -------------------------------- */